<div class="container mx-auto px-4 py-8">
  <h1 class="text-3xl font-bold mb-8 text-center">Latest Job Listings</h1>

  <app-jobs-filter (filterChanged)="onFilterChange($event)"></app-jobs-filter>

  @if (initialLoading()) {
    <p class="text-center text-gray-500">Loading jobs...</p>
  } @else {
    @if (filteredJobs().length) {
      <div class="grid gap-6 sm:grid-cols-2 lg:grid-cols-3">
        @for (job of filteredJobs(); track job.id) {
          <app-job-card
            [job]="job"
            (jobSelected)="openModalWithJob($event)"></app-job-card>
        }
      </div>

      <div class="mt-8 text-center">
        <app-jobs-pagination
          [loading]="jobService.loading()"
          [disabled]="loadMoreDisabled()"
          (loadMore)="onLoadMore()"></app-jobs-pagination>
      </div>
    } @else {
      <p class="text-center text-gray-500 mt-6">No jobs found.</p>
    }
  }
  <app-job-modal #jobModal></app-job-modal>
</div>
